{% extends "base.html" %}

{% block content %}

    <h4 style="text-align: center;">{{ origin_name }} Status</h4>

      <table class="center" style="width:50%">
        <tr>
          <td colspan="2">Setup</td>
          <td colspan="100">{{ origin_status_dict['Setup'] }}</td>
        </tr>
        <tr>
          <td colspan="2">Temperature</td>
          <td colspan="100">{{ origin_status_dict['Temp'] }}</td>
        </tr>
        <tr>
          <td colspan="2">Hardware Type</td>
          <td colspan="100">{{ origin_status_dict['HWType'] }}</td>
        </tr>
        <tr>
          <td colspan="2">Hardware Revision</td>
          <td colspan="100">{{ origin_status_dict['HostHardware'] }}</td>
        </tr>
        <tr>
          <td colspan="2">Firmware Version</td>
          <td colspan="100">{{ origin_status_dict['HostFirmware'] }}</td>
        </tr>
        <tr>
          <td colspan="2">Serial Number</td>
          <td colspan="100">{{ origin_status_dict['HostSerial'] }}</td>
        </tr>
        <tr>
          <td rowspan="2" align="center">Tuner</td>
          <td colspan="4" align="center">Signal State</td>
          <td colspan="4" align="center">Signal Quality</td>
          <td rowspan="2" align="center">Action</td>
        </tr>
	  <tr align="center">
          <td>Streaming</td>
          <td>Channel</td>
          <td>Signal Lock</td>
          <td>Digital Lock</td>
          <td>Signal</td>
          <td>SNR</td>
          <td>BER</td>
          <td>Modulation</td>
      </tr>
      {% for key in list(origin_status_dict.keys())
      if "Tuner" in key: %}
        <tr>
          <td align="center">{{ key[5:]  }}</td>
	  {% if (origin_status_dict[key]['Transport'] == "PLAYING") %}
	     <td align="center">RTP</td>
	  {% elif (origin_status_dict[key]['HWState'] == "In Use") %}
	     <td align="center">Direct</td>
      {% else %}
	     <td align="center">Idle</td>
	  {% endif %}
          <td align="center">{{ origin_status_dict[key]['Channel'] }}</td>
          <td align="center">{{ origin_status_dict[key]['SignalLock'] }}</td>
          <td align="center">{{ origin_status_dict[key]['PCRLock'] }}</td>
          <td align="right">{{ origin_status_dict[key]['Signal'] }}</td>
          <td align="right">{{ origin_status_dict[key]['SNR'] }}</td>
          <td align="right">{{ origin_status_dict[key]['BER'] }}</td>
          <td align="center">{{ origin_status_dict[key]['Modulation'] }}</td>
	  {% if (origin_status_dict[key]['Transport'] == "PLAYING") or (origin_status_dict[key]['HWState'] == "In Use") %}
	     <td><button onclick="location.href='/api/ceton?method=close&tuner={{ key[5:] }}&redirect=%2Fceton'">Close</a></button></td>
      {% else %}
	     <td></td>
	  {% endif %}
        </tr>
      {% endfor %}

{% endblock %}
